<form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Создание нового сайта</h1>

    <div 
        [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
        class="form-control">
        <label for="title">Название сайта:</label>
        <input type="text" id="title" formControlName="title">
        <div 
            *ngIf="form.get('title').touched && form.get('title').invalid"
            class="validation">
            <small *ngIf="form.get('title').errors.required">
                Это поле должно быть заполнено
            </small>
        </div>
    </div>

    <div class="form-control">
        <label for="siteDescription">Описание сайта:</label>
        <input type="text" id="siteDescription" formControlName="siteDescription">
    </div>

    <div 
        [ngClass]="{invalid: form.get('body').touched && form.get('body').invalid}"
        class="form-control">
        <label for="body">Контент сайта (body):</label>
        <textarea id="body" rows="10" formControlName="body"></textarea>
        <div 
            *ngIf="form.get('body').touched && form.get('body').invalid"
            class="validation">
            <small *ngIf="form.get('body').errors.required">
                Это поле должно быть заполнено
            </small>
        </div>
    </div>

    <button
        type="submit"
        class="btn btn-block btn-dark"
        [disabled]="form.invalid">
        Создать
    </button>

</form>

<input type="file" id="upload-input" accept="application/JSON" (change)="handleFile($event.target.files)" /> 
<label class="upload-btn" for="upload-input">Импортировать из файла (json)</label>
