.btn+.btn {
    margin-left: 10px;
}

.hover-danger:hover {
    color: var(--danger-color);
}

.search-block {
    display: flex;
    margin-bottom: 1rem;

    input {
        padding: 0.4rem;
        font-size: 1rem;
        border: 1px solid #ccc;
    }

    button {
        padding: 0.4rem;
        font-size: 1rem;
        width: auto;
        margin-left: 4px;
        margin-right: 0;
    }
}

table {
    margin-bottom: 2rem;
}

.flex {
    display: flex;
}

.pagination {
    border: 1px solid grey;
    padding: 3px;
    margin-left: auto;
}

.page-numbers {
    padding: 0 10px;
}
