.btn+.btn {
    margin-left: 10px;
}

.search-block {
    display: flex;
    margin-bottom: 1rem;

    input {
        padding: 0.4rem;
        font-size: 1rem;
        border: 1px solid #ccc;
    }

    button {
        padding: 0.4rem;
        font-size: 1rem;
        width: auto;
        margin-left: 4px;
        margin-right: 0;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}
  
table th,
table td {
    padding: 1rem;
    text-align: left;
}

th.controls {
    min-width: 180px;
}

td.site-body {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex {
    display: flex;
}

.pagination {
    border: 1px solid grey;
    padding: 3px;
    margin-left: auto;
}

.page-numbers {
    padding: 0 10px;
}
